body {
  margin: 0;
  background-color: black;
  overflow: hidden;
}

.matrix-container {
  position: absolute;
  top: 12.5%;
  left: 25%;
  z-index: 2;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75vh;
  width: 50%;
  background-color: rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(5px);
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
  padding: 20px;
  box-sizing: border-box;
  margin: auto 0;
}

.matrix-text {
  white-space: pre-wrap;
  overflow: hidden;
  animation: type 5s steps(1000, end) forwards, fadeOutLine 0.5s 5s forwards;
  border-right: 1px solid white;
}

@keyframes type {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.start-button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 4px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.start-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 2px;
  background: repeating-linear-gradient(
    -90deg,
    grey,
    grey 10px,
    transparent 10px,
    transparent 20px
  );
  animation: moveTrainReverse 1s linear infinite;
}

.start-button::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background: repeating-linear-gradient(
    90deg,
    grey,
    grey 10px,
    transparent 10px,
    transparent 20px
  );
  animation: moveTrain 1s linear infinite;
}

.start-button:hover {
  border: 2px solid white;
}
.start-button:hover::before,
.start-button:hover::after {
  background: transparent;
}

@keyframes moveTrain {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -20px 0;
  }
}
@keyframes moveTrainReverse {
  0% {
    background-position: -20px 0;
  }
  100% {
    background-position: 0 0;
  }
}
@keyframes fadeOutLine {
  from {
    border-right: 1px solid white;
  }
  to {
    border-right: 1px solid transparent;
  }
}
@media (max-width: 480px) {
  .matrix-text {
    max-height: 50vh;
    overflow-y: auto;
  }

  .matrix-text {
    font-size: 12px;
  }
}
