* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow: hidden;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(-50%);
  }
  30% {
    transform: translateY(-80%);
  }
  50% {
    transform: translateY(-30%);
  }
  70% {
    transform: translateY(-60%);
  }
}

@keyframes colorChange {
  0%,
  100% {
    color: red;
  }
  50% {
    color: blue;
  }
}

@keyframes incrementDots {
  0%,
  10% {
    content: "....";
  }
  20% {
    content: ".....";
  }
  30% {
    content: "......";
  }
  40% {
    content: ".......";
  }
  50% {
    content: "........";
  }
  60% {
    content: ".........";
  }
  70% {
    content: "..........";
  }
  80% {
    content: "...........";
  }
  90% {
    content: "............";
  }
  100% {
    content: "...........";
  }
}
.flash-effect {
  position: absolute;
  z-index: 9999;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.8;
}

.flash-effect h1 {
  font-size: 3rem;
  font-weight: bold;
  color: black;
}

.please-wait {
  position: absolute;
  top: 80%;
  left: 50%;
  font-size: 24px;
  z-index: 2;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.play-button.hovered {
  background-color: lightblue;
  color: white;
  cursor: pointer;
}

.loading-dots::before {
  content: "....";
  margin-left: 5px;
  position: absolute;
  top: 50%;
  left: calc(100% + 5px + 10px);
  transform: translateY(-50%);
  left: calc(100% + 5px + 10px);
  animation: colorChange 3s infinite;
  color: white;
  font-size: 40px;
}

.spinner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loading-dots.colorChange::before {
  animation: colorChange 5s infinite;
}

.loading-dots.bounce::before {
  animation: bounce 5s infinite;
}

.loading-dots.incrementDots::before {
  animation: incrementDots 5s infinite;
}

.flame {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.flame::before,
.flame::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 50%;
  height: 60%;
  border-radius: 50% 50% 25% 25%;
  background: red;
  animation: flicker 0.5s infinite;
}

.flame::before {
  left: 50%;
  transform: rotate(55deg);
  transform-origin: bottom left;
}

.flame::after {
  left: 0;
  transform: rotate(-55deg);
  transform-origin: bottom right;
}

@keyframes flicker {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0.5;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 0.4;
  }
  40% {
    opacity: 0.9;
  }
  50% {
    opacity: 0.5;
  }
  60% {
    opacity: 0.8;
  }
  70% {
    opacity: 0.3;
  }
  80% {
    opacity: 1;
  }
  90% {
    opacity: 0.4;
  }
  100% {
    opacity: 0.9;
  }
}

@media (max-width: 480px) {
  .spinner-container {
    position: relative;
    top: 200px;
    left: 150px;
  }
  .please-wait {
    font-size: 6px;
  }

  .loading-dots::before {
    font-size: 30.33px;
  }
}

@keyframes flashing {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
